<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Translator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Your Logo" id="logo">
        <h1>Translator</h1>
    </header>
    <form method="POST">
        <div class="lang-selection">
            <div>
                <select name="input_language">
                    <option value="English">English</option>
                    <option value="German">German</option>
                    <option value="Norwegian">Norwegian</option>
                </select>
            </div>
            <div style="display: flex; align-items: center;">
                <select name="output_language" id="output_language">
                    <option value="English">English</option>
                    <option value="German" selected>German</option>
                    <option value="Norwegian">Norwegian</option>
                </select>

                <span id="formal_pronouns_container">
                    <label for="formal_pronouns">Formal pronouns</label>
                    <input type="checkbox" name="formal_pronouns" id="formal_pronouns" value="1">
                </span>
            </div>
        </div>
        <div class="text-areas">
            <textarea name="user_input" onkeydown="handleKeyDown(event)" placeholder="Press Ctrl + Enter to submit" autofocus>{{ user_input }}</textarea>
            <textarea name="user_output">{{ response }}</textarea>
        </div>
    </form>
    <script>
        const outputLanguageSelect = document.getElementById("output_language");
        const formalPronounsContainer = document.getElementById("formal_pronouns_container");
    
        function updateFormalPronounsVisibility() {
            if (outputLanguageSelect.value === "German") {
                formalPronounsContainer.style.display = "block";
            } else {
                formalPronounsContainer.style.display = "none";
            }
        }
    
        outputLanguageSelect.addEventListener("change", updateFormalPronounsVisibility);
        updateFormalPronounsVisibility();
        
    
        function handleKeyDown(event) {
            if (event.ctrlKey && event.key === 'Enter') {
                event.preventDefault();
                document.querySelector('form').submit();
            }
        }
    </script>
</body>
</html>