<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Translator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Your Logo" id="logo">
    </header>
    <form method="POST">
        <div class="top_container">
            <div class="lang-selection">
                <select name="input_language">
                    <option value="English">English</option>
                    <option value="German">German</option>
                    <option value="Norwegian">Norwegian</option>
                </select>
    
                <select name="output_language" id="output_language">
                    <option value="English">English</option>
                    <option value="German" selected>German</option>
                    <option value="Norwegian">Norwegian</option>
                </select>
    
                <div id="formal_pronouns_container">
                    <label for="formal_pronouns">Formal <br>pronouns</label>
                    <input type="checkbox" name="formal_pronouns" id="formal_pronouns" value="1">
                </div>
            </div>
            <div class="text-areas">
                <div class="text-area-container">
                    <div class="relative-container">
                        <textarea name="user_input" class="input-textarea" onkeydown="handleKeyDown(event)" placeholder="Press Ctrl + Enter to submit" autofocus>{{ user_input }}</textarea>
                        <button class="x-button">
                            <img src="{{ url_for('static', filename='img/x.svg') }}" id="clear_text">
                        </button>
                    </div>
                </div>
                <div class="text-area-container">
                    <textarea name="user_output" id="user_output">{{ response }}</textarea>
                    <div>
                        <button id="copy_text_output">Copy</button>
                    </div>
                </div>
            </div>
            <input type="submit" value="Submit" id="mobile-submit">
        </div>
        <footer></footer>
    </form>
    <script src="{{ url_for('static', filename='js/updateFormalPronounsVisibility.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ctrlEnterFormSubmission.js') }}"></script>
    <script src="{{ url_for('static', filename='js/focusUserOutputFormSubmission.js') }}"></script>
    <script src="{{ url_for('static', filename='js/submitButton.js') }}"></script>
    <script src="{{ url_for('static', filename='js/xButton.js') }}"></script>
</body>
</html>